<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <h2>Welcome {{ request.user.first_name }} {{ request.user.last_name }}</h2>
    <div>
        <a href="{% url 'lecturer_list' %}">View Lecturers</a> <br>
        <a href="{% url 'student_list' %}">View Students</a> <br>
        <a href="{% url 'class_list' %}">View Classes</a> <br>
        <a href="{% url 'course_list' %}">View Courses</a> <br>
        <a href="{% url 'semester_list' %}">View Semesters</a> <br>
        <a href={% url 'read_excel' %}>Upload Students</a> <br>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</body>
</html>