{% block content %}
    <h1>Assigned Classes</h1>
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Number</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for class in assigned_classes %}
                <tr>
                    <td>{{ class.course.code }}</td>
                    <td>{{ class.number }}</td>
                    <td>{{ class.name }}</td>
                    <td><a href="{% url 'class_detail' class.id %}">View Class</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href="{% url 'lecturer_dashboard' %}">Back</a></button>
{% endblock %}