{% block content %}
    <h1>Courses</h1>
    <button><a href="{% url 'create_course' %}">Create Course</a></button>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for course in object_list %}
                <tr>
                    <td>{{ course.code }}</td>
                    <td>{{ course.name }}</td>
                    <td><a href="{% url 'course_detail' course.id %}">View Course</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href="{% url 'admin_dashboard' %}">Back</a></button>
{% endblock %}