<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semester Detail</title>
</head>
<body>
    <h1>Semester Detail</h1>
    <div>
        <h2>Semester {{ semester.semester }} {{ semester.yer }}</h2>
        <h3>Classes:</h3>
        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Number</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for class in semester.class_set.all %}
                    <tr>
                        <td>{{ class.course.code }}</td>
                        <td>{{ class.number }}</td>
                        <td>{{ class.name }}</td>
                        <td><a href="{% url 'class_detail' class.id %}">View Class</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if request.user.is_superuser %}
            <a href={% url 'update_semester' semester.id %}>Edit</a>
            <a href={% url 'delete_semester' semester.id %}>Delete</a>
        {% endif %}
    </div>
    {% if request.user.is_superuser %}
        <button><a href="{% url 'admin_dashboard' %}">Back</a></button>
    {% endif %}
    {% if request.user.is_authenticated and request.user.lecturer %}
        <button><a href="{% url 'lecturer_dashboard' %}">Back</a></button>
    {% endif %}
    {% if request.user.is_authenticated and request.user.student %}
        <button><a href="{% url 'student_dashboard' %}">Back</a></button>
    {% endif %}
</body>
</html>
