{% block content %}
    <h1>Semesters</h1>
    <button ><a href="{% url 'create_semester' %}">Create Semester</a></button>
    <table>
        <thead>
            <tr>
                <th>Semester Number</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for semester in object_list %}
                <tr>
                    <td>Semester {{ semester.semester }}</td>
                    <td>{{ semester.year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href="{% url 'admin_dashboard' %}">Back</a></button>
{% endblock %}
